body {
  margin: 0;
  padding: 0;
  background-image: url("./components/pexels-alteredsnaps-11973844.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  width: 100%;
  margin: 1em auto;
}

.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.2em;
  justify-content: center;
}

h2{
  color: red;
}